on:
  push:
  workflow_dispatch:
    inputs:
      test:
        description: "Testmode"
        required: true
        default: "true"

name: Package
jobs:
  package:
    if: github.event.inputs.test != 'true'
    name: Package distribution file
    runs-on: ubuntu-18.04
    strategy:
      matrix:
        actions:
          [
            "configure-aws-credentials",
            "create-deployment",
            "create-deployment-status",
            "create-workflow-dispatch",
            "download-artifact",
            "json-property",
            "remove-deployment",
            "semantic-version",
            "ssh-agent"
          ]
    steps:
      - name: Checkout
        uses: actions/checkout@v2
      - name: Package
        run: |
          cd ${{ matrix.actions }}
          npm ci
          npm run lint
          npm run package
